<template>
  <v-dialog
    v-model="dialog"
    transition="dialog-bottom-transition"
    max-width="1200"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-img
        v-bind="attrs"
        v-on="on"
        :src="src"
        height="100px"
        width="100px"
        class="my-5"
      ></v-img>
    </template>
    <v-card>
      <v-btn icon light @click="dialog = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-row no-gutters>
        <v-col cols="12">
          <v-row no-gutters align="center" justify="center">
            <v-img :src="src" contain></v-img>
          </v-row>
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      notifications: false,
      sound: true,
      widgets: false,
    };
  },
  props: {
    dialog: {
      type: Boolean,
      default: false,
    },
    src: {
      type: String,
      default: "",
    },
  },
};
</script>
