<template>
  <div class="init text-center">
    <v-text-field v-model="text" placeholder="What are you looking for?" />
    {{ reversedText }}
  </div>
</template>

<script>
export default {
  name: "Hello",

  data: () => ({
    text: "",
  }),
  computed: {
    reversedText() {
      return this.text.split("").reverse().join("");
    },
  },
};
</script>

<style scoped>
.init {
  max-width: 50% !important;
  margin: auto !important;
}
</style>
