<template>
  <v-card height="99%" flat>
    <v-navigation-drawer
      height="100%"
      color="#F0F8FF"
      floating
      permanent
      fixed
      app
    >
      <v-list-item two-line to="/" link>
        <v-list-item-content class="text-center ma-3">
          <v-list-item-title class="text-h3">DocAI</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list rounded height="calc(100% - 200px)">
        <v-list-item
          v-for="item in items"
          :key="item.title"
          :to="item.route"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <div flat>
      <router-view></router-view>
    </div>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      items: [
        { title: "Search", icon: "mdi-magnify", route: "/search" },
        { title: "Upload", icon: "mdi-upload", route: "/upload" },
      ],
    };
  },
};
</script>
