<template>
  <v-card class="rounded-xl" v-if="showTable">
    <v-data-table
      :headers="headers"
      :items="items[activeTableIndex]"
      :options.sync="pageOptions"
      :server-items-length="totalCount"
      :loading="loading"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Results</v-toolbar-title>
          <v-divider class="mx-4" inset vertical />
          <template v-slot:extension>
            <v-tabs v-model="activeIndex">
              <v-tab
                v-for="title in tableTitles"
                :key="title"
                @change="fetchAfterChange(title)"
                >{{ title }}
              </v-tab>
            </v-tabs>
          </template>
          <v-spacer></v-spacer>
        </v-toolbar>
      </template>
      <template v-slot:item.title="{ item }">
        <span v-if="getColorTitle">
          <span v-html="colorText(item.document.title)"></span>
        </span>
        <span v-else>
          {{ item.document.title }}
        </span>
      </template>
      <template v-slot:item.author="{ item }">
        <span v-if="getColorAuthor">
          <span v-html="colorText(item.document.author)"></span>
        </span>
        <span v-else>
          {{ item.document.author }}
        </span>
      </template>
      <template v-slot:item.description="{ item }">
        <span v-if="item.document.description != 'null'">
          {{ item.document.description }}
        </span>
      </template>
      <template v-slot:item.text="{ item }">
        <span v-if="getColorContent">
          <span v-html="colorText(item.text)"></span>
        </span>
        <span v-else>
          {{ item.text }}
        </span>
      </template>
      <template v-slot:item.image="{ item }">
        <Dialog :dialog="dialog" :src="item.image" />
      </template>
      <template v-slot:item.page="{ item }">
        <Dialog :dialog="dialog" :src="item.document.file" />
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import { mapGetters, mapState, mapActions, mapMutations } from "vuex";
import Dialog from "./Dialog";

export default {
  name: "SearchCrud",
  props: {},
  components: {
    Dialog,
  },
  data: () => ({
    headers: [
      { text: "Author", value: "author" },
      { text: "Title", value: "title" },
      { text: "Description", value: "description" },
      { text: "Text", value: "text" },
      { text: "Image", value: "image", sortable: false },
      { text: "Page", value: "page", sortable: false },
    ],
    activeIndex: 1,
    dialog: false,
    pageOptions: { itemsPerPage: 5, page: 1 },
  }),
  methods: {
    ...mapActions(["fetchImages"]),
    ...mapMutations(["setPageOptions", "setAciveTableIndex"]),
    colorText(text) {
      return text.replace(new RegExp(this.getTerm, "gi"), (match) => {
        return '<span class="yellow">' + match + "</span>";
      });
    },
    fetchAfterChange(title) {
      this.activeIndex = this.tableTitles.indexOf(title);
      this.pageOptions = { itemsPerPage: 5, page: 1 };
      this.setAciveTableIndex(title);
      this.setPageOptions(this.pageOptions);
      this.fetchImages();
    },
  },
  computed: {
    ...mapGetters([
      "getTableImages",
      "getImageImages",
      "getHandwritingImages",
      "getColorAuthor",
      "getColorTitle",
      "getColorContent",
      "getTerm",
    ]),
    ...mapState([
      "showTable",
      "tableTitles",
      "pageSize",
      "totalCount",
      "loading",
      "pageCount",
      "activeTableIndex",
    ]),
    items() {
      return {
        handwriting: this.getHandwritingImages,
        images: this.getImageImages,
        tables: this.getTableImages,
      };
    },
  },
  watch: {
    pageOptions: {
      handler() {
        this.setPageOptions(this.pageOptions);
        this.fetchImages();
      },
      deep: true,
    },
  },
  created() {
    this.activeIndex = this.tableTitles.indexOf(this.activeTableIndex);
    console.log(this.activeIndex);
  },
};
</script>
<style scoped>
.v-data-table__wrapper > tbody > tr {
  height: 125px !important;
}
</style>
