<template>
  <v-card flat>
    <v-alert
      :value="noSwitchAlert"
      shaped
      outlined
      type="error"
      transition="slide-y-transition"
    >
      Select at least one switch from Handwriting, Images, Tables
    </v-alert>
    <v-container>
    <v-card-title class="card-title">Search</v-card-title>
      <v-card class="rounded-xl mb-3">
        <v-form ref="form" v-model="valid">
          <v-container ma-0>
            <v-row class="pa-3">
              <v-col cols="8" class="pr-15">
                <v-text-field
                  v-model="searchText"
                  :rules="[rules.required]"
                  label="Search"
                  prepend-inner-icon="mdi-magnify"
                  clearable
                  solo
                ></v-text-field>
                <v-btn
                  :loading="loading"
                  :disabled="loading"
                  color="secondary"
                  class="mt-2"
                  @click="findDocuments()"
                >
                  Search
                </v-btn>
              </v-col>
              <v-col class="switch-margin" v-for="i in 2" :key="i">
                <v-switch
                  v-for="_switch in switches.slice(i * 3 - 3, i * 3)"
                  :key="_switch.label"
                  v-model="_switch.value"
                  :label="_switch.label"
                  color="secondary"
                  inset
                  dense
                ></v-switch>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card>
      <search-crud />
    </v-container>
  </v-card>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import SearchCrud from "./../components/SearchCrud.vue";

export default {
  name: "Search",
  data() {
    return {
      searchText: null,
      loading: false,
      noSwitchAlert: false,
      valid: false,
      rules: {
        required: (value) => !!value || "Required",
      },
      switches: [
        { label: "Author", value: true },
        { label: "Title", value: true },
        { label: "Description", value: true },
        { label: "Handwriting", value: true },
        { label: "Images", value: true },
        { label: "Tables", value: true },
      ],
    };
  },
  computed: {
    ...mapState(["activeTableIndex", "showTable"]),
  },
  methods: {
    ...mapMutations([
      "setColorAuthor",
      "setColorTitle",
      "setColorContent",
      "setTableSearchConfig",
      "setShowTable",
    ]),
    ...mapActions(["fetchImages"]),
    async findDocuments() {
      this.validate();
      if (!this.valid) return;
      const usedSwitches = Object.assign(
        {},
        ...this.switches
          .slice(0, 3)
          .filter((element) => element.value)
          .map((element) => ({ [element.label.toLowerCase()]: element.value })),
      );
      console.log(usedSwitches);
      const tableTitles = this.switches
        .slice(3, 6)
        .filter((element) => element.value)
        .map((element) => element.label.toLowerCase());
      const activeTableIndex = tableTitles.includes(this.activeTableIndex)
        ? this.activeTableIndex
        : tableTitles[0];
      this.setTableSearchConfig({
        term: this.searchText,
        usedSwitches: usedSwitches,
        tableTitles: tableTitles,
        activeTableIndex: activeTableIndex,
      });
      if (!this.showTable) {
        this.setShowTable(true);
      } else {
        this.fetchImages();
      }
    },
    validate() {
      this.$refs.form.validate();
      if (typeof this.getActiveSwitch() === "undefined") {
        this.valid = false;
        this.noSwitchAlert = true;
      } else if (
        this.switches.filter((s) => {
          return (
            ["Handwriting", "Images", "Tables"].includes(s.label) &&
            s.value == true
          );
        }).length == 0
      ) {
        this.valid = false;
        this.noSwitchAlert = true;
      }
    },
    getActiveSwitch() {
      return this.switches.find((element) => element.value);
    },
  },
  components: {
    SearchCrud,
  },
  watch: {
    switches: {
      deep: true,
      handler() {
        this.setColorAuthor(this.switches[0].value);
        this.setColorTitle(this.switches[1].value);
        this.setColorContent(this.switches[2].value);
      },
    },
    noSwitchAlert: {
      handler() {
        if (this.noSwitchAlert) {
          setTimeout(() => {
            this.noSwitchAlert = false;
          }, 3000);
        }
      },
    },
  },
};
</script>

<style lang="scss">
.switch-margin {
  div {
    margin-top: 0px !important;
  }
}

.card-title{
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 50px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}

</style>
