<template>
  <v-container>
    <v-alert
      :value="successAlert"
      shaped
      outlined
      type="success"
      transition="slide-y-transition"
    >
      File uploaded successfully
    </v-alert>
    <v-card-title class="card-title">Upload</v-card-title>
    <v-card class="rounded-xl">
      <v-form ref="form" @submit.prevent="uploadDocument">
        <v-container ma-0>
          <v-row class="pa-3">
            <v-col cols="6" class="pr-15">
              <v-text-field
                v-model="titleText"
                label="Title"
                clearable
                :error-messages="titleTextErrors"
                solo
              ></v-text-field>
              <v-text-field
                solo
                v-model="authorText"
                label="Author"
                clearable
                :error-messages="authorTextErrors"
              >
                >
              </v-text-field>
              <v-btn
                solo
                :loading="loading"
                :disabled="loading"
                color="secondary"
                class="mt-2"
                type="submit"
              >
                Upload
              </v-btn>
            </v-col>
            <v-col cols="6" class="pr-15">
              <v-file-input
                v-model="pdfFile"
                accept="application/jpg"
                label="Choose file"
                progress
                prepend-icon="mdi-paperclip"
                solo
                style="flex-direction: row-reverse"
                :error-messages="pdfFileErrors"
              >
              </v-file-input>
              <v-text-field
                v-model="description"
                label="Description"
                clearable
                solo
                :error-messages="descriptionErrors"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </v-card>
    <v-card class="rounded-xl mt-4" max-width="250">
      <v-list flat>
        <v-subheader>Last uploads
        <div class="text-center">
            <v-btn
              icon
              color="secondary"
              @click="getRecent"
            >
              <v-icon>mdi-cached</v-icon>
            </v-btn>
    </div>
        </v-subheader>
        <v-list-item-group>
          <v-list-item v-for="(item, i) in recentDocuments" :key="i">
            <v-list-item-content>
              <v-list-item-title
                v-text="item.title + ' ' + item.author"
              ></v-list-item-title>
              <v-list-item-subtitle v-text="item.status"></v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-card>
  </v-container>
</template>

<script>
import { required, maxLength } from "vuelidate/lib/validators";

export default {
  name: "Upload",
  data() {
    return {
      successAlert: false,
      loading: false,
      authorText: null,
      titleText: null,
      description: null,
      pdfFile: null,
      recentDocuments: [],
    };
  },
  watch: {
    successAlert(val) {
      if (val) {
        setTimeout(() => {
          this.successAlert = false;
        }, 3000);
      }
    },
  },
  validations: {
    authorText: {
      required,
      maxLength: maxLength(150),
    },
    titleText: {
      required,
      maxLength: maxLength(150),
    },
    description: {
      maxLength: maxLength(255),
    },
    pdfFile: {
      required,
    },
  },
  computed: {
    authorTextErrors() {
      const errors = [];
      if (!this.$v.authorText.$dirty) {
        return errors;
      }
      !this.$v.authorText.required && errors.push("This field is required");
      !this.$v.authorText.maxLength &&
        errors.push("Author cannot be longer than 150 characters");
      return errors;
    },
    titleTextErrors() {
      const errors = [];
      if (!this.$v.titleText.$dirty) {
        return errors;
      }
      !this.$v.titleText.required && errors.push("This field is required");
      !this.$v.titleText.maxLength &&
        errors.push("Title cannot be longer than 150 characters");
      return errors;
    },
    descriptionErrors() {
      const errors = [];
      if (!this.$v.description.$dirty) {
        return errors;
      }
      !this.$v.description.maxLength &&
        errors.push("Description cannot be longer than 255 characters");
      return errors;
    },
    pdfFileErrors() {
      const errors = [];
      if (!this.$v.pdfFile.$dirty) {
        return errors;
      }
      !this.$v.pdfFile.required && errors.push("This field is required");
      return errors;
    },
  },
  methods: {
    uploadDocument() {
      this.$v.$touch();
      if (this.$v.$invalid) return;
      let formData = new FormData();
      formData.append("file", this.pdfFile);
      formData.append("title", this.titleText);
      formData.append("author", this.authorText);
      formData.append("description", this.description);
      this.axios
        .post("/api/v1/upload/", formData, {
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
        .then(() => {
          this.successAlert = true;
          this.clearInputs();
          this.$v.$reset();
          this.getRecent();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getRecent() {
      this.axios.get("api/v1/get-recent/").then((response) => {
        this.recentDocuments = response.data.results;
      });
    },
    clearInputs() {
      this.pdfFile = null;
      this.titleText = null;
      this.authorText = null;
      this.description = null;
    },
  },
  created() {
    this.getRecent();
  },
};
</script>

<style>
.card-title{
	color: #343434;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;   
	font-size: 50px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}
</style>